a{color: aquamarine;
text-decoration: none;}
#idd{
    background-color: bisque;
}
#id1{background-color: aquamarine;}
#id2{color: blueviolet;}
#id3{text-decoration: wavy;}
.cl1{background-color: blueviolet;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-style: italic;border: 2px solid rgb(219, 15, 15);
margin: 5% 30% 2% 20%;
padding: 20px 50px 10px 100px;}